html, body {
    overflow: hidden;
	font-family: arial, sans-serif;
}

.controls {
	position: absolute;
	background: rgba(100,100,100,.7);
	left: 0;
	bottom: 0;
	padding: 24px 10px 10px;
	width: 200px;
}
.controls.collapsed {
	left: -196px; // 200 width + 20 padding - 26 collapser width
}

.controls .collapser {
	border: 1px solid #ccc;
	background: transparent;
	color: #fff;
	width: 24px;
	height: 24px;
	line-height: 24px;
	position: absolute;
	top: 0;
	right: 0;
}

.controls label {
	display: block;
	color: #fff;
	padding-bottom: 10px;
}

.controls select {
	font-size: 14px;
	margin-bottom: 20px;
	padding: 5px 0;
}

.links a {
	color: #fff;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
}
